.listing-title {
  color: #908f8f;
  font-family: helvetica;
  font-weight: lighter;
  margin-top: 80px;
}

.listing-description {
  color: #cccccc;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 50px;
}

.listing-media-form {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

.listing-media-form .form-label {
  margin-top: 20px;
  color: #cccccc;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 25px;
}

.listing-media-form input,
textarea,
select {
  background-color: white;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 15px;
}

.inspection-time {
  display: flex;
}

.inspection-time input {
  margin-right: 30px;
  width: 300px;
  text-align: center;
}

.amenities {
  display: flex;
}

.amenity {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 0;
}

.amenity-label {
  font-size: 15px;
  font-weight: lighter;
  color: #cccccc;
  font-family: helvetica;
  margin: 15px 0 0 0;
}

.amenity input {
  width: 100px;
  font-size: 20px;
}

.upload-listing-button {
  margin: 50px 0;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  color: white;
  font-family: helvetica;
  font-weight: lighter;
  font-size: 15px;
  background-color: #6c92ff;
  cursor: pointer;
}

/*-------------------------MEDIA-BOX--------------------------*/

.media-boxes {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listing-media-box {
  display: flex;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: 200px;
}

.listing-media-logo {
  position: relative;
  left: -1px;
  top: -1px;
  height: 42px;
  border: 1px;
  border-radius: 8px 0px 0px 8px;
}

.listing-media-title-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.listing-media-title {
  font-family: helvetica;
  font-weight: lighter;
  color: #cccccc;
}

.listing-media-switch-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.listing-media-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  margin: 0;
}

.listing-media-switch input {
  display: none;
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #cccccc;
  border-radius: 34px;
}

.slider-round:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid #cccccc;
  border-radius: 50%;
}

input:checked + .slider-round {
  background-color: #6c92ff;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
