.welcome {
  margin-top: 30px;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  padding: 20px;
  background-color: #fff;
}

#logoWorks {
  display: flex;
  justify-content: center;
}

.form-toggle {
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0 auto;
  max-width: 20rem;
  padding: 15px;
}

.form-toggle button {
  color: #cccccc;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
  cursor: pointer;
  /* font-size: 1.25rem; */
  /* cursor: pointer; */
  /* width: 100%; */
  /* padding: 1rem; */
  /* text-align: center; */
}

.form-toggle button:hover {
  color: #908f8f;
}

.form-toggle .active {
  color: #908f8f;
  border-bottom: 2px solid #908f8f;
  padding-bottom: 3px;
}

.form {
  margin: 0px auto;
  max-width: 25rem;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

/* .form-content { */
/*   padding-top: 20px; */
/*   padding-bottom: 20px; */
/* } */

.form-input {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.form-input input {
  color: #cccccc;
  margin: 4px 0px;
  font-size: 14px;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.form button {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 40%;
  padding: 0.5rem 0;
  background: #6c92ff;
  color: #ffffff;
  border-radius: 8px;
  margin: auto;
}

.form button:hover {
  cursor: pointer;
  background: #2196f3;
  -webkit-transition: 0.1s;
  color: azure;
}

.form button:active {
  background: #908f8f;
  -webkit-transition: -0.5s;
  color: azure;
}
