
.listing-title {

}

.listing-description {

}

.listing-media-form {
  display: flex;
  justify-content: center;
}

.listing-media-box {
  display: flex;
  height: 40px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  /*overflow: hidden;*/
}

.listing-media-logo {
  position: relative;
  left: -1px;
  top: -1px;
  height: 42px;
  border: 1px;
  border-radius: 8px 0px 0px 8px;
}

.listing-media-title-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.listing-media-title {
  font-family: helvetica;
  font-weight: lighter;
  color: #CCCCCC;
}

.listing-media-switch-container {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.listing-media-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.listing-media-switch input {
  display: none; 
}

.slider-round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #CCCCCC;
  border-radius: 34px;
}

.slider-round:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
}

input:checked + .slider-round {
  background-color: #6C92FF;
}

input:focus + .slider-round {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-round:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
