#logoWorks {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.form {
    margin: 200px auto;
    max-width: 30rem;
    border-radius: 3px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
  }
 
  .form button {
    width: 20%;
    padding: 0.5rem 0;
    background: #6C92FF;
    color: #ffffff;
    border-radius: 8px;
    margin-left: 395px;
  }

  .form-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-input {
    margin-bottom: 15px;
  }

  .form-input input {
    color: #cccccc;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
    padding: 0.25rem;
    border: 0;
    border-bottom: 1px solid #908F8F;
    outline: 0;
  }
  
  .form-toggle {
    display: flex;
    justify-content: space-evenly;
  }
  .form-toggle a {
    color: #908F8F;
    font-size: 1.25rem;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }