.profile {
  margin-top: 50px;
  max-width: 40rem;
}

.profile-section {
  margin: 70px 10px 30px 10px;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
}

.profile-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 40px;
  border-radius: 20px;
}

.profile-section input {
  color: #cccccc;
  font-size: 10px;
  margin-top: 5px;
  width: 30%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.profile-form {
  margin: 200px auto 30px auto;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.profile-form button {
  width: 50%;
  padding: 10px;
  background: #6c92ff;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 25%;
}

.profile-form button:hover {
  background: #2196f3;
}

.profile-form-input {
  margin-bottom: 15px;
}

.profile-form-input input {
  color: #cccccc;
  font-size: 14px;
  margin: 8px auto;
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 8px;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.profile-form-input input:focus {
  color: #908f8f;
}

.profile-form-input label {
  color: #cccccc;
  margin-top: 8px;
}

.profile-form-toggle {
  display: flex;
  justify-content: space-evenly;
}
.profile-form-toggle a {
  color: #908f8f;
  font-size: 1.25rem;
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.cta-primary {
  width: 50%;
  padding: 10px;
  background: #6c92ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  margin-left: 25%;
  margin-top: 20px;
}

.cta-primary:hover {
  background: #2196f3;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

.cta-primary:active {
  background-color: #908f8f;
  box-shadow: 0 0.5px #666;
}
