.Account {
  margin: 10px auto 0 auto;
  max-width: 40rem;
  border: 2px solid rgba(0, 0, 0, 0);
  /* border: none; */
  padding: 0px;
  border-radius: 10px;
  background: rgba(41, 40, 40, 0.7);
}

.profile-section {
  margin: 0px 10px 30px 10px;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
}

.profile-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  padding: 10px;
}

.profile-section input {
  color: #cccccc;
  font-size: 10px;
  margin-top: 5px;
  width: 30%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.profile-form {
  margin: 200px auto 50px auto;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}
