.Account {
  margin: 200px auto;
  max-width: 40rem;
  box-shadow: 3px 10px 10px #908f8f;
}

.Account-section {
  margin: 70px 10px 30px 10px;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
}

.Account-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 10px;
}

.Account-section input {
  color: #cccccc;
  font-size: 10px;
  margin-top: 5px;
  width: 30%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.Account-form {
  margin: 200px auto 50px auto;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}
