.Account {
  margin: 200px auto;
  max-width: 40rem;
  box-shadow: 3px 10px 10px #908f8f;
}

.Account-section {
  margin: 70px 10px 30px 10px;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #cccccc;
  text-align: center;
}

.Account-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;
  padding: 10px;
}

.Account-section input {
  color: #cccccc;
  font-size: 10px;
  margin-top: 5px;
  width: 30%;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #908f8f;
  outline: 0;
}

.Account-form {
  margin: 200px auto 50px auto;
  max-width: 30rem;
  border-radius: 3px;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
}

.cta-primary {
  width: 50%;
  padding: 10px;
  background: #6c92ff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #ffffff;
  border-radius: 8px;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cta-primary:hover {
  background: #2196f3;
  -webkit-transition: 0.3s;
  cursor: pointer;
}

.cta-primary:active {
  background-color: #908f8f;
  box-shadow: 0 0.5px #666;
}
