.sociallink {
  justify-content: baseline;
  padding: 0 20px 20px 20px;
}

.sociallink a img {
  margin-left: 20px;
}

.sociallink a:hover {
  cursor: pointer;
}

.sociallink input {
  cursor: pointer;
  height: 32px;
  width: 180px;
  margin-left: 20px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sociallink input:hover {
  cursor: pointer;
  background: #2196f3;
  -webkit-transition: 0.1s;
  color: azure;
}

.sociallink input:active {
  cursor: pointer;
  background: #908f8f;
  -webkit-transition: -0.5s;
  color: azure;
}
