.navbar {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  height: 40px;
  background: #fff;
  box-shadow: 0px 4px 2px #6c92ff;
}
.navlink {
  margin: 4px 30px 4px 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
